.normal
    z-index: 1
    &:after
      position: absolute
      content: ""
      color: black
      top: 0
      left: 0
      width: 0
      height: 100%
      background: white
      transition: width 0.15s
      z-index: 2
    &:hover
      &:after
        width: 100%
.inverted
  z-index: 1
  &:after
    position: absolute
    content: ""
    color: white
    top: 0
    left: 0
    width: 0
    height: 100%
    background: black
    transition: width 0.15s
    z-index: 2
  &:hover
    &:after
      width: 100%
